@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@700&display=swap');


:root{
  --unique-font:'Playfair Display SC';
  
  --header-fs:3rem;
 
  --orange-col:orange;
  --faded-col:rgba(0,0,0,0.8);

  --title-font:1.7rem;
  --sm-title-font:1rem;
  
  }


/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {

  text-rendering: optimizeSpeed;

}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}



/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}



/* utility class */

  .grid-space{
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: center;
  }

  .grid{
    display: flex;
    align-items: center;
  }

  .padding-top{
    margin-top: 10rem;
  }

  .sm-title{
    font-size: var(--sm-title-font);
    color: var(--faded-col);
    font-weight: bold;
  }

    .lg-title{
      font-size: var(--title-font);
      color: rgba(0,0,0,0.7);
      font-family: var(--unique-font);
      font-weight: bold;
    }

    .container{
      max-width: 1200px;
      margin:0 auto;
     width: 85%;
     font-weight: bold;
    
     
    }
    
    .btn{
      display: inline-block;
      background-color: var(--orange-col);
      color: #fff;
      padding: 5px 20px;
      border-radius: 5px;
      width: 100px;
      cursor: pointer;
      border: 0;
      text-align: center;
    }
    
    .btn:where(:hover,:active){
        background-color: rgb(231, 174, 67);
    }


body{
    font-family: 'Roboto', sans-serif;
    line-height: 1.2;
    overflow-x: hidden
}

.decor{
  color: var(--orange-col);
}



/* header */


header{
  position: relative;
  background-image:url(./img/swimming-g4d2e0aef2_1920.jpg);
  min-height:500px ;
 background-position: center;
}


.logo{
  display: flex;
  align-items: center;
 border-bottom: 2px solid var(--faded-col);
 
}


.logo h4{
  font-size: 1rem;
  font-weight: bold;

}
.logo  img{
  width: 25px;
  height: 25px;
  margin-left: 5px;
}


.links{
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
 
}

.link::after{
  content: " ";
  display: block;
  position: absolute;
  width: 0px;
 height: 2px;
 background-color: var(--faded-col);
transition:  width .30s ease-in;
  margin: auto;
  margin-top: 2px;
}

.link:hover::after,.link:active::after{
 width: 45px;
} 


.header_content{
  position: fixed;
  width: 100%;
  background-color: #5BC0F8;
  padding: 10px 0;
 z-index: 9998;
}

.primary_header{
 
   flex-wrap: nowrap;
   
}

/* navigations */
   
.nav{
  flex-direction: row;
  align-items: center;

}

.nav > *+* ,.nav_list >*+*{
  margin:0 0 0 1rem;
}

.nav_list{
  display: flex;
  align-items: center;
}

.nav_btn{
  display: flex;
  flex-direction: row;
}





 .menu i{
   display: none;
   font-size:1.5rem;
    color: var(--faded-col);
} 

.menu{
  z-index: 9999;
}


@media(max-width:720px){
  
  .nav{
    position: fixed;
      top: 0;
     width: 70%;
     height: 100%;
      right:0;
      bottom: 0;
    flex-direction: column;
   z-index: 1000;
    align-items: flex-start;
    background-color: #b5e0f7e5;
     padding: 7rem 2rem;
     justify-content: center;
     transform: translateX(100%);
     transition: transform 350ms ease-in;
  }

  .nav > *+* ,.nav_list >*+*{
    margin:1rem 0 0 0;
  }

    .nav_list{
      flex-direction: column;
     }

     .nav_btn{
   
    flex-direction: column;
    
     }

  .menu .fa-bars{
    display:block;
  
 } 

 .change-menu .fa-bars{
  display: none;
 }
 .change-menu .fa-xmark{
  display: block;
 }


 .open-nav{
  transform: translateX(0%);
 }
}

/* secondary header */
.header_card{
  position: relative;
  width: 100%;
  top: 100px;
  margin: auto;
  max-width: 400px;
  background-color: #fff;
  padding: 20px;
  color: var(--faded-col);
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.3);
  z-index: 1;
  animation: left-to-right 1s ease-in;
}

@keyframes left-to-right{
    0%{
      transform:translateX(-100%) ;
    }
  
}

.header_card > *+*{
   margin-top: 10px;
}

.header_title{
  font-size: var(--title-font);
  font-family: var(--unique-font);
  text-align: center;
}

.header_card h5{
  margin:2rem 0;
}

.underline{
  height: 2px;
  width: 37px;
  background-color: var(--faded-col);
  margin: 1.7rem 0;
}

.input_count{
  display: flex;
  flex-wrap: wrap;
 
}

.select_option > * + *{
  margin: 1.5rem 0 0 0;
}

select{
     
     outline: none;
     padding: 8px;
     width: 100%;
     display: inline-block;
     
}



option{
  width: 100%;
}

.input_count .btn{
  width: 70%;
  padding: 10px;
  margin: 1.4rem 0;
}

header::after{
  content: "";
  position: absolute;
  height: 100px;
  width: 100%;
  background-color:#fff;
  bottom: -50px;
  transform: skewY(-4deg);
}

/* category */
.category{
  margin-top: 15rem;
  text-align: center;
}

.category .sm-title{
  margin-bottom: 2.2rem;
}





.category-content-sec{
   display: flex;
   align-items: center;
   justify-content: space-between;
   flex-wrap: wrap;
   margin: -2rem auto;
   margin-top: 3.6rem;
} 



.icons{
  max-width: 180px;
  margin:2rem auto;
  color: var(--faded-col);
}


.icons i{
  padding: 10px;
  width: 50px;
  font-size: 1.6rem;
  margin-bottom: 1.7rem;
  border-radius: 6px;
}

.fa-map-location-dot{
   color: rgb(250, 167, 12);
   background-color: rgb(255, 229, 180);

}
.fa-tags{
  color: red;
  background-color: rgb(252, 223, 223);
}
.fa-file{
color: gray;
background-color: rgb(218, 217, 217);
}
.fa-shield{
  color: rgb(88, 147, 255);
  background-color: rgb(184, 184, 235);
}

/* Destination */
.destination h1,.destination h5{
  text-align: center;
  color: var(--faded-col);
}

.destination h5{
  margin-bottom:1.6rem ;
}

.mini-card div{
  display: flex;
  align-items: center;
  
}

.mini-card div > *+*{
  margin-left:0.80rem;
}

.flex-mini-card{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
}

.card-cont{
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  align-items: center;
    
  
   color: var(--faded-col);
   margin: -5rem 0;
   margin-top:3.5rem;
 
}

.card{
  display: flex;
  flex-direction: column;
   
   margin-bottom:3rem;
   
   max-width: 270px;
   height: 350px;
   border-radius: 15px;
   box-shadow: 1px 4px 13px rgba(0,0,0,0.1);
   
   
  
}

.fade-in{
 opacity: 0;
 transition:  opacity 350ms ease-in;
}

.fade-in.appear{
   opacity: 1;
}



.card img{
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  height: 70%;
 
}

.mini-card{
  height: 30%;
  padding: 1rem;
}


/* booking */

.booking-content > *+*{
   margin-top: 1.5rem;
}

.booking-content{
  max-width: 400px;
  width: 100%;
  margin-inline: auto;
}

.booking-icons >*+*{
  margin-left: 1rem;
}

.booking-desc > *+*{
  margin-top: 2rem;
}

.booking-icons i{
   
   padding: 14px 17px;
   width: 50px;
  
   border-radius: 6px;
   text-align: center;
   color: #fff;
}

.booking-icons .fa-location-dot{
   background-color: red;
   font-size: 1.2rem;
}

.booking-icons .fa-credit-card{
  background-color: orange;
  font-size: 1rem;
}

.fa-calendar{
  font-size: 1.2rem;
  background-color: blue;
}

.booking-icons div > *+*{
  margin-top: .30rem;
}
.booking-icons  p{
  opacity: 0.50;
  max-width: 300px;
}

/* booking-card */


.booking-card{
  max-width: 350px;
  width: 100%;
  padding:20px;
  border-radius: 32px;
  box-shadow: 0px 30px 30px rgba(83, 83, 83, 0.1);
   margin-inline: auto;
   margin-top: 3rem;
  
}
.booking-card .grid-space{
  flex-wrap: nowrap;
 
}

.greece-img{
  width: 100%;
  height: 160px;
  border-radius: 20px;
}
.booking-card >*+*{
  margin-top: 15px;
}

.profile-cont{
  position: relative;
  padding-top: 2rem;
  padding-bottom: 1rem;
}
.profile img{
  position: absolute;
  width: 42px;
  height: 42px;
  top: 20px;
  border-radius: 50%;
  border: 3px solid #fff;
}
.people-icon p{
  margin-left: 5rem;
  font-size: 0.86rem;
}

.profile img:nth-child(2){
  margin-left: 1rem;
}
.profile img:nth-child(3){
  margin-left: 2rem;
}

.fa-heart{

 color: rgb(238, 62, 62);
 font-size: 1.2rem;
}
.going{
  white-space: nowrap;
}

.from-left,.from-right{
  transition: opacity 250ms ease-in, transform 350ms ease-in;
}

.from-left{
  transform: translateX(-50%);
  opacity: 0;
}

.from-right{
  transform: translateX(50%);
  opacity: 0;
  
}


.from-left.appear,.from-right.appear{
  opacity: 1;
  transform: translateX(0%);
}

/* special offer */
.special-offer p{
 font-weight: 500;
  color: var(--faded-col);
}

.special-offer-heanding{
  max-width: 580px;
  margin: 0 auto;
  text-align: center;
  width: 90%;
}

.special-offer-heanding p{
  margin:2rem 0;
  font-weight: normal;
}
.special-offer-card-content >*+*{
  margin-top: 1rem;
}
.special-offer-card-cont{
  display: flex;
  margin-top: 3rem;
 
  overflow-x: hidden;
  overflow-y:hidden;
   width:100%;
  margin-inline:auto;
}

.special-offer-card{
  display:inline-block;
   width: 290px;
   gap: 2rem;
   margin:0 1rem;
   padding: 1rem 1.1rem;
   background-color: rgba(241, 241, 241,20%); 
   border-top-left-radius: 20px;
   border-top-right-radius: 20px;
   flex: 0 0 auto;
 
}

.special-offer-card img{
  border-radius: 20px;
  margin-bottom: 1rem;
  width: 100%;
  height: 170px;
}

.special-offer-card-content{
  display: flex;
  flex-direction: column;
   width: 80%;
}

.special-offer-card-content .fa-location-dot{
   color: red;
}

.special-offer-card-content .fa-star{
  color: gold;
}

.special-offer-card-content .grid-space{
  display: flex;
 align-items: center;
 flex-wrap: nowrap;
}

.special-offer-card-content .grid > *+*{
 margin: 0.50rem;

}

.special-offer-card-content h3{
   font-size: 1.3rem;
   font-family: var(--unique-font);
   color: var(--faded-col);
}


.special-navigation{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.special-navigation > *+*{
  margin-left: 6rem;
}

.special-navigation i{
  font-size: 3rem;
  color: var(--orange-col);
  cursor: pointer;
}

.bold{
  font-weight:bolder;
  font-size: 1.1rem;
}
/* blogging */

.blog  p{
  font-weight: normal;
}
.blog img{
    border-radius:20px;
    margin-bottom: 1.5rem;
}
.blog-contents p{
  margin: 1rem 0;
}

 .blog-title{
  text-align: center;
  max-width:600px;
 }

 .blog-title > p{
 
 margin-top: 1.5rem;
 }


 .blog-contents{
  margin-top:2rem;
 }

 .blog-contents h2,.blog-contents h3{
   font-family: var(--unique-font);
   color: var(--faded-col);
 }

 .blog-contents  .sm-title{
  margin-bottom: 1.5rem;
  color: black;
 }

  /* newsletter */
  .newsletter-content h1{
    font-size: 1.7rem;
    font-family: var(--unique-font);
  }

  .news p{
    font-weight: normal;
    font-size: 0.95rem;
  }
  .news{
    max-width: 350px;
    margin:auto left;
  }

  .news >*+*{
    margin-top: 1.3rem;
  }

  .newletter-input{
    position: relative;
  }

  .newletter-input input{
     width: 100%;
     padding:12px 8px;
    outline: 0;
    border-radius: 20px;
    border: 0;
  }

  .newletter-input i{
    position: absolute;
     font-size: 2rem;
     color: var(--orange-col);
     right: 3px;
     top:3px;
     cursor: pointer;
  }

  .newsletter-content{
    display:flex;
     align-items: center;
     background-image: url('./img/yellow-gba155e3ae_640.jpg');
     background-position: bottom;
     background-repeat: no-repeat;
     background-size: cover;
     padding:2.5rem 2rem;
     border-radius: 2.5rem;
     min-height: 350px;
  }


  /* footer */
footer{
  background-color:rgb(240, 240, 245);
  padding: 5rem 0;
}

.footer-links >*+*{
  margin-top: 0.89rem;
}
footer > .grid{
 
  align-items: flex-start;
     justify-content: space-between;
    flex-wrap:wrap;
} 

.footer-flex > *+*{
  margin-top:2rem;
}

footer p{
  font-weight: normal;
  font-size: 0.90rem;
}

.footer-content{
  width: 100%;
    
}

.footer-content .logo{
  width: 130px;
}

.footer-content p{
  margin-top:2rem;
}

.footer-links .links{
     
     font-weight: normal;
}

.icon-links .underline{
  width:100%;
  margin-top: 80px;
}

.footer-icons i{
  font-size:1.5rem;
  color: var(--orange-col);
}

.footer-icons{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.footer-icons >*+*{
  margin-left: 1.2rem;
}
/* media queries */



@media(min-width:450px){
  :root{
    
    --sm-title-font:1.2rem;
  }
  .header_card{
    width: 85%;
  }
 .input_count .btn{
  width: 50%;
 }
  
  select{
     width:45%;
  }

  .select_option > * + *{
    margin: 0 0 1.5rem 0;
  }

  .select_option select:nth-child(2n){
     margin-left: 1.5rem;
  }

  .header_title{
    text-align: left;
  
  }




  /* blog */
 
  .big-blog-card{
    width:90%;
   }

   .small-blog-card{
    width:70%;
   }
   /* news */

.newsletter-content h1{
  font-size: 2.5rem;

}

/* footer */
.footer-flex > *+*{
  margin-top:1.7rem;
}
}



@media(min-width:600px){


.header_card{
    width: 90%;
}

/* destination */
.card-cont {
  justify-content: space-between;
}

.card{
   margin:0 auto;
    margin-bottom: 3rem;
}


/* blog */
.blog-contents{
  display:flex;
}

.blog-contents >*+*{
  margin-left: 1.2rem;
}
.big-blog-card{
  width:50%;
 }

 .big-blog-card img{
   height:270px;
 }



.small-blog-card{
  width:50%;
 }

 
.blog-card{
  width:100%;
}

.blog-card {
  display: flex;
  width:100%;
 
  align-items: center;
  margin-top: 1rem;
  
 }

 .blog-card >*+*{
  margin-left: 1rem;
 }

 
 .blog-card img{
    width:50%;
   height:150px;
   margin-bottom: 0rem;
 }

 .blog-card-content{
  width: 50%;

 }


 .big-blog-card-content p{
  margin:1rem 0;
  font-size: 0.90rem;
}

.small-blog-card p{
 margin: 0.60rem 0;
}


.small-blog-card h3,.small-blog-card p{
  font-size:0.80rem;
}

.blog-contents .sm-title {
  margin-bottom: 0rem;
  font-size: 0.80rem;
}

/* footer */



}


@media(min-width:800px){
  :root{
    --title-font:3rem;
  }
 

/* nav */
.nav > *+* ,.nav_list >*+*{
  margin:0 0 0 2rem;
}

  /* secondary header */
 .header_card{
      margin:0;
   
   }
   /* booking */
   .booking-content{
    max-width: 550px;
  }
/* 
  /* blog */

  .blog-contents{
    display:flex;
    justify-content: space-between;
    
  }

  .big-blog-card img{
    height: 350px;
    width:100%;
  }
  
  
  .blog-card img{
   height:170px;
 }
  
   .blog-contents p,.blog-contents h3 {
    font-size:1rem;
  }

  .blog-contents h2{
      font-size: 1.3rem;
  }

  .small-blog-card p{
    max-width:250px;
  }

  .big-blog-card p{
    max-width:470px;
  }

  .blog-contents p{
    margin: 1rem 0;
    
  }

  .blog-contents .sm-title {
    font-size: 1.2rem;
  }

  /* news */
  .newsletter-content h1{
    font-size: 2.8rem;
    font-family: var(--unique-font);
  
  }

    /* footer  */
  .footer-content{
    width: 60%;
    
  }

}

@media(min-width:1200px){
 /* footer */
 .footer-content{
  max-width: 400px;
  width: 100%;
}
 
.footer-flex > *+*{
  margin-top:0rem;
}

}
